@tailwind base;
@tailwind components;
@tailwind utilities;

.default-ltr-cache-1d568uk {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}


.pointer-events-none {
  pointer-events: none;
}



.scrollbar-hide {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

html, body {
  overflow-x: hidden;
}

.shimmer-container {
  position: relative;
  overflow: hidden;
}

.shimmer-text,
.shimmer-image {
  background: #e0e0e0;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.shimmer-text {
  width: 100%;
  height: 20px;
  margin-bottom: 8px;
}

.shimmer-image {
  width: 150px;
  height: 200px;
  margin-bottom: 8px;
}

@keyframes shimmer {
  100% {
    background-position: -200% 0;
  }
}
